<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    @RenderBody()
    <script src="~/Scripts/jquery-2.0.3.min.js"></script>
    <script src="~/Scripts/ajaxHelper.js"></script>
    <script src="~/Scripts/jquery.form.min.js"></script>
</body>
</html>

<script type="text/javascript">
            $(document).ready(function () {
                $("#ajaxUploadForm").ajaxForm({
                    target: "#ajaxUploadForm",
                    iframe: true,
                    dataType: "json",
                    beforeSubmit: function (data) {
                        console.log('before submit :D => ', data);
                    },
                    success: function (result) {
                        console.log(result)
                        loadUrlContent('@(Url.Action("UploadForm"))', 'doclist');
                        $("#fileInput").clearFields();
		        },
		        error: function (xhr, textStatus, errorThrown) {
		        }
		    });
		});
</script>
