@model MvcAsyncFilestreamUpload.Models.UploadModel

    <div id="doclist">
        @Html.Action("UploadForm")
    </div>

<div class="container" style="margin-top:20px">
    <form id="ajaxUploadForm" action="@Url.Action("AjaxUpload", "Home")" method="post" enctype="multipart/form-data">
        <fieldset class="form">
            <input type="file" id="fileInput" class="form-control-file border" name="file" />
            <br />
            <button type="submit" class="btn btn-danger" id="ajaxUploadButton">Fazer Upload</button>
        </fieldset>
    </form>

</div>
